* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Airbnb Cereal VF, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}

.first nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    /* padding: 8px; */
    height: 100%;
    margin: 0px 80px 0px 80px;
}

.head .logo img {
    width: 30px;
    height: 30px;
}

.txt-exp span {
    padding: 15px;
    color: black;
    /* margin: 0px 20px 0px 20px; */
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.profile img {
    width: 35px;
    height: 35px;
    padding: 5px;
    /* padding: 10px; */
}
.profile #stl{
    padding: 9px;
}
.profile #stl:hover{
    background-color: rgba(231, 231, 231, 0.911);
    border-radius: 20px;
    padding: 9px;
}
.profile span{
    font-size: 16px;
    padding: 10px;
}
.profile span:hover{
    background-color: rgba(231, 231, 231, 0.911);
    border-radius: 20px;
    padding: 10px;
}

.profile .logo-profile{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    border: 1px solid rgb(161, 157, 157);
    border-radius: 20px;
    padding: 3px;
}
.profile .logo-profile:hover{
    box-shadow: -4px 4px rgba(231, 231, 231, 0.911);
}
@media only screen and (min-width:745px) and (max-width:1128px){
    .head .logo span{
        display: none;
    }
}
@media only screen and (max-width:744px){
    .first nav{
        display: none;
    }
}

.searchbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 500px 0px 500px;
    /* border: 1px solid rgb(161, 157, 157); */
    border-radius: 30px;
    box-shadow: 4px 4px 20px rgb(185,183, 183);
}
.searchbar .txt{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    /* border-left: 1px solid rgb(185,183, 183); */
    /* box-sizing: content-box; */
    /* line-height: 10px; */
    padding: 10px;
}
.searchbar #left{
    margin-left: 0px;
    border-left: none;
}
.searchbar .txt a{
    font-weight: lighter;
    color: rgb(99, 97, 97);
    padding-top: 5px;
}
.searchbar img{
    width: 45px;
    height: 45px;
    border-radius: 25px;
}
/* @media only screen and (min-width:745px) and (max-width:949px){ 
    .txt-exp{
        display: block;
    }
} */
@media only screen and (max-width:744px){ 
    .searchbar .txt {
        display: none;
    }
}



.container-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 30px 0px 30px;
}
.container-menu img{
    width: 25px;
    height: 25px;
    opacity: 0.5;
}
.container-menu div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container-menu span{
    padding-top: 11px;
    font-size: 12px;
    opacity: 0.8;
}
.recommend .container-recommend{
    margin: 0px 60px 0px 60px;
}
.recommend img{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    /* font-size: 14px; */
}
.container-recommend{
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 30px;
    font-size: 14px;
}
.container-recommend p{
    opacity: 0.6;
}
.second-container{
    margin: 0px 60px 0px 60px;
    display: grid;
    grid-template-columns: repeat(6, 250px);
    gap: 30px;
    font-size: 14px;
}
.second-container p{
    opacity: 0.6;
}
#box{
    display: block;
    margin: 60px;
    margin-bottom: 10px;
}

.box1{
    margin: 0px 300px 0px 300px;
}

.box1 h2{
    font-size: 18px;
}
.box1 #menu-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0.7;
    font-size: 14px;
}

.box1 #grid-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 40px;
    grid-template-rows: repeat(3, 1fr);
    font-size: 14px;
}
#grid-box p{
    opacity: 0.7;
}

.box2 {
    margin: 0px 300px 0px 300px;
    font-size: 14px;
    opacity: 0.8;
    display: flex;
    justify-content: space-evenly;
}
.box2 ul li{
    padding: 5px;
}

.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot .left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
}
.foot .right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
}
.foot .right span:hover {
    text-decoration: solid;
    cursor: pointer;
}
.foot .right img {
    width: 25px;
    height: 25px;
}