*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
img{
    width: 100%;
    height: 100%;
    /* padding-right: 5px; */
}
nav{
    background-color: black;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 6px;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    width: 100vw;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section select{
    font-size: 12px;
    color: #FFFFFF;
    border: none;
    background-color: black;
    margin-right: 30px;
}
.left-section .location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    /* color: white; */
    border-left: 1px solid white;
    padding-left: 20px;
    line-height: 13px;
}
.left-section .location span{
    font-size: 10px;
    /* padding: 5px; */
    margin-right: 30px;
    color: white;
}
.right-section .right-sub-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    /* font-size: 12px;  */
}
.right-section .right-sub-section span{
    font-size: 14px;
    /* padding: 40px; */
    display: flex;
    /* margin-right: 40px; */
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 20px;
    height: 20px; */
    /* display: flex; */
    padding-right: 3px;
    /* border-right: 1px solid white;
    line-height: 1px; */
}
.img img{
    width: 20px;
    height: 20px;
}

.container{
    /* border: 1px solid black; */
    width: 100vw;
    height: 85px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-left: 50px; */
}
.container .symbol img{
    width: 90px;
    height: 70px;
    margin-left: 50px;
}
.container .menu a{
    color: black;
    text-decoration: none;
    padding: 8px;
    font-size: 12px;
}
.searchbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.searchbox input{
    width: 150px;
    height: 15px;
    border: none;
    border-bottom: 2px solid black;
}
.searchbox .box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    border: 2px solid rgb(237, 210, 12);
    border-radius: 20px;
    background-color: rgb(237, 210, 12);
    color: black;
}
.searchbox .box img{
    width: 30px;
    height: 30px;
}
.searchbox .box p{
    font-size: 12px;
}
.logo{
    width: 50px;
    height: 50px;
}

.display{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 75vh;
    animation: slide 20s infinite;
}

@keyframes slide {
    0% {background-image: url(./image/allensollydisplay1.jpeg);}
    20% {background-image: url(./image/allensollydisplay2.jpeg);}
    40% {background-image: url(./image/allensollydisplay3.jpeg);}
    60% {background-image: url(./image/allensollydisplay4.jpeg);}
    80% {background-image: url(./image/allensollydisplay5.jpeg);}
    100% {background-image: url(./image/allensollydisplay6.jpeg);}
}

.searchdisplay{
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

.searchdisplay .searchimg img{
    width: 200px;
    height: 200px;
}
.searchdisplay .searchimg span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 20px;
}

.qrbox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 250px;
    background-color: rgb(245, 245, 150);
    padding: 5px;
}
.qrbox .apps{
    width: 490px;
    height: 230px;
    /* text-align: justify; */
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding: 5px;
}

.qrbox .applogos{
    color: #333333;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qrbox .applogos .code span{
    background-color: rgb(237, 210, 12);
    border: 1px dashed black;
    font-size: 13px;
}

.qrbox .qr img{
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qrbox .qr span{
    font-size: 12px;
    justify-content: center;
}
.qrbox .logoimg{
    width: 300px;
    height: 180px;
}

.collection{
    margin: auto;
    padding: 10px;
    color: #0E3051;
    text-align: center;
}
.collection .tags{
    /* width: 450px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    margin: auto;
}
.collection .tags a{
    text-decoration: none;
    /* margin: auto; */
    color: #0E3051;
    font-size: 18px;
    /* width: 450px; */
    
}

.discover{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.discover .cover{
    padding: 8px;
}
.discover .cover img{
    width: 300px;
    height: 400px;
}
.discover .cover a{
    background-color: #FFFFFF;
    border: 1px solid white;
    padding: 7px;
    font-size: 14px;
    color: #0E3051;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.discover .cover img:hover a{
    opacity: 1;
}

.trend{
    height: 740px;
    width: 100vw;
    background-color: #0E3051;
}
.trend .txt{
    margin: auto;
    padding: 20px;
    text-align: center;
}

.trend .txt h1{
    font-size: 25;
    color: yellow;
}
.trend .txt .category a{
    text-decoration: none;
    color: white;
    padding: 25px;
}
.trend .image{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    padding: 15px;
    box-sizing: border-box;
}
.trend .image img{
    width: 271px;
    height: 407px;
}
.trend .image .item{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.arrival {
    width: 100vw;
    height: 750px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
}

.arrival .new {
    display: flex;
    flex-direction: column;
    /* background-color: #0E3051; */
    width: 600px;
    height: px;
    margin-left: 30px;
}

.arrival .new img{
    width: 600px;
    height: 445px;
}
.arrival .new #new {
    background-color: #0E3051;
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrival .new #new img{
    width: 50px;
    height: 50px;
}
.arrival .new1{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    align-items: center;
}
.arrival .new1 div img{
    width: 300px;
    height: 430px;
}

section{
    width: 100vw;
    height: 600px;
}

section .refer{
    width: 80vw;
    height: 600px;
    margin: auto;
    border: 2px solid black;
    /* display: flex;
    justify-content: center; */
}
section .refer .earn{
    width: 250px;
    height: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #e9b254;
}
section .refer .earn .refercode{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #F0C57C;
}
section .refer .earn .refercode .btn{
    width: 35px;
    height: 35px;
}
section .refer .earn .refercode .btn img{
    width: 25px;
    height: 25px;
}

.locate{
    background-color: rgb(237, 210, 12);
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.locate #locate{
    color: #0E3051;
    font-size: 25px;
    text-align: center;
}
.locate input{
    width: 200px;
    padding: 20px;
    border: 2px solid #0E3051;
    border-radius: 15px;
    background-color:rgb(237, 210, 12);
}
.locate a{
    color: #0E3051;
}

.view button{
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #0E3051;
    color: white;
    font-size: 17px;
    border-radius: 15px;
}

.return  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 30px 0px 30px;
}
.return div{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.return div img{
    width: 30px;
    height: 30px;
}
.return div span{
    color: #0E3051;
}
footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0px 40px 0px 40px;
    color: #0E3051;
    font-size: 14px;
    padding: 5px;
} 

footer .policy{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* footer .copyright{

} */